@{
    Layout = null;
}
<img src="../logo.png" alt="" style="width:40px;"/>
<p>
    Por medio del presente formato el que suscribe como usuario: Gustavo Pedroza
    declaro recibir de SIIX EMS MEXICO S. E R.L DE C.V.(EMPRESA) como herramienta de trabajo lo enlistado en este formato, así como dar seguimiento a las siguientes disposiciones de resguardo:
</p>